@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base;
  }
}

body {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
}
